.App {
  text-align: center;
}

.App-logo {
  height: 40px;
}

.main-header {
  text-align: left;
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.align-right {
  text-align: right;
}

/*.data-table-container {
  margin-left: 1em;
  margin-right: 1em;
}*/