.App {
  text-align: center;
}

.App-logo {
  height: 40px;
}

.main-header {
  text-align: left;
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.align-right {
  text-align: right;
}

.panel-controls-left {
  padding-top: 1em;
  /*border-right: 1px solid rgb(221, 221, 221);*/
}

.panel-controls-right {
  padding-top: 1em;
  border-left: 1px solid rgb(221, 221, 221);
}

.suppress-focus-indicator:focus {
  border: none;
  outline: none;
}

.list-group-item.list-group-item-column-toggle {
  padding-top: 0;
  padding-bottom: 0;
}

.list-group-item.list-group-item-column-toggle div label {
  width: 100%;
}

.inline-form-submit {
  margin-top: 1em;
}

#resultCountInput {
  width: 6em;
}

/* Chrome styling to always show number spinners */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
   opacity: 1;
}